<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="PMMM" connectionString="Data Source=WIN-BDS2CCAJU56;Initial Catalog=Shop;Integrated Security=True" />
    <add name="WForms.Properties.Settings.ShopConnectionString" connectionString="Data Source=WIN-BDS2CCAJU56;Initial Catalog=Shop;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>